
<div class="d"><table border=2 >
 <tr>
    <td colspan="4"><input [value]="y" type="text" >
 </tr> 
<tr>
    <td><button (click)="onClick1()">1</button></td>
    <td><button (click)="onClick2()">2</button></td>
    <td><button (click)="onClick3()">3</button></td>
    <td><button (click)="onClickplus()">+</button></td>
</tr>
<tr>
    <td><button (click)="onClick4()">4</button></td>
    <td><button (click)="onClick5()">5</button></td>
    <td><button (click)="onClick6()">6</button></td>
    <td><button (click)="onClickminus()">-</button></td>
</tr>
<tr>
    <td><button (click)="onClick7()">7</button></td>
    <td><button (click)="onClick8()">8</button></td>
    <td><button (click)="onClick9()">9</button></td>
    <td><button (click)="onClickmul()">*</button></td>
</tr>
<tr>
    <td><button (click)="onClick0()">0</button></td>
    <td><button (click)="onClickdiv()">/</button></td>
    <td><button (click)="onClickeq()">=</button></td>
    <td><button (click)="onClickce()">CE</button></td>
</tr>
</table>

</div>