<div  class="container">
  <h1>Edit PRODUCTS    </h1>

                  <div class="form-group">
                  Product Id<input [(ngModel)]="Id" class="form-control">
                  </div>

                  <div class="form-group">
                  Product Name<input [(ngModel)]="Name" class="form-control">
                  </div>

                  <div class="form-group">
                    Price<input  [(ngModel)]="Price" class="form-control">
                  </div>

                  <div class="form-group">
                    MFG<input  [(ngModel)]="Mfg" class="form-control">
                  </div>

                  <div class="form-group">
                    Stock on hand<input [(ngModel)]="Soh" class="form-control">
                  </div>

                  <div class="form-group">
                    <button (click)= "onSave()" class="form-control">   ADD ME  </button>
                  </div>

  </div>
